{% extends "base.html" %}
{% load static %}
{% load grade_tags %}

{% block title %}Students{% endblock %}

{% block content %}
  <div class="container">
    <div class="row mb-5 mt-5">
      <div class="col">
        <h1>Students</h1>
      </div>
    </div>

    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col" rowspan="2">Name</th>
          <th scope="col" rowspan="2">Total</th>
          {% for spc in spc_list %}
            <th scope="col" colspan="{{ spc.units.count }}">{{ spc.code }}</th>
          {% endfor %}
        </tr>
        <tr>
          {% for unit in unit_list %}
            <th scope="col">{{ unit.code }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
      {% for obj in object_list %}
        <tr>
          <th>{{ obj.user.username }}</th>
          <td>{{ obj.total_score }}&#47;{{ max_score }}</td>
          {% for grade in obj.grades %}
          <td>{% show_grade grade %}</td>
          {% endfor %}
        </tr>
      {% endfor %}
      </tbody>
    </table>


  </div>
{% endblock content %}

