{% extends "base.html" %}
{% load static %}
{% load grade_tags %}
{% load query_param_tags %}

{% block title %}Students{% endblock %}

{% block content %}
  <div class="container">
    <div class="row mb-5 mt-5">
      <div class="col">
        <h1><a href="{% url 'academy:instructor-user-list' %}" class="text-dark" title="See all students">Students</a></h1>
      </div>
    </div>

    <div class="row" style="overflow: scroll;">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col" rowspan="2">Name</th>
            <th scope="col" rowspan="2">Slack</th>
            <th scope="col" rowspan="2">Submission Date</th>
            <th scope="col" rowspan="2">Total</th>
            <th scope="col" rowspan="2">Eligible for graduation</th>
            {% for spc in spc_list %}
            <th scope="col" colspan="{{ spc.unit_count }}">
              <a href="{% add_query_param 'spc_code' spc.code %}" class="text-dark" title="Filter by specialization">{{ spc.code }}</a>
            </th>
            {% endfor %}
          </tr>
          <tr>
            {% for unit in unit_list %}
            <th scope="col"><a href="{% add_query_param 'unit_code' unit.code %}" class="text-dark" title="Filter by unit">{{ unit.code }}</a></th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
        {% for obj in object_list %}
          <tr>
            <th><a href="{% add_query_param 'user_id' obj.user.id %}" class="text-dark" title="Filter by student">{{ obj.user.username }}</a></th>
            <td><a href="{{ workspace_url }}{{ obj.user.slack_member_id }}" target="_blank" class="text-dark">{{ obj.user.slack_member_id }}</a></td>            <td><a href="{% add_query_param 'submission_date' obj.submission_date %}" class="text-dark"> {{ obj.submission_date }} </a></td>
            <td><a href="{% add_query_param 'score__gte' obj.total_score %}" class="text-dark">{{ obj.total_score }}&#47;{{ max_score }}</a></td>
            <th><a href="{% add_query_param 'can_graduate' obj.user.can_graduate %}" class="text-dark" title="Filter by graduation status">{% if obj.user.can_graduate %}Yes{% else %}No{% endif %}</a></th>
            {% for grade in obj.grades %}
            <td>{% show_grade grade %}</td>
            {% endfor %}
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>

    <a href="{% url 'academy:instructor-user-list-export' download='csv' %}"><button type="button"> Download CSV</button></a>

  </div>
{% endblock content %}

