{% extends "base.html" %}
{% load static %}
{% load grade_tags %}

{% block title %}{{ unit.code }}{% endblock %}

{% block content %}
  <div class="container">
    <div class="row mb-5 mt-5">
      <div class="col">
        <h1>{{ unit.code }}: {{ unit.name }}</h1>
      </div>
      <div class="col-md-auto">
        {% show_grade grade %}
      </div>
      {% if unit.open %}
        <div class="col-md-auto">
          <form method="post">
            {% csrf_token %}
            <input type="submit" class="btn btn-dark" value="Grade">
          </form>
        </div>
      {% endif %}
    </div>

    {% if grade.status == "failed" %}
    <div class="row">
      <div class="mb-4">
        <h5>Fail message:</h5>
        <span>{{ grade.message }}</span>
      </div>
    </div>
    {% endif %}

    <div class="row">
      <div class="col-md-auto">
        <div class="mb-4">
          <h5>Due date:</h5>
          <span>{{ unit.due_date }}</span>
        </div>
        <div>
          <h5>Instructor:</h5>
          <span>{{ unit.instructor.name }}</span>
        </div>
      </div>


      <div class="col-md">
        <div>
          <h5>Description:</h5>
          <span>{{ unit.description }}</span>
        </div>
      </div>
    </div>

    <div class="col">
    </div>
  </div>
{% endblock content %}

