{% extends 'base.html' %}

{% block content %}

<div class="container">
    <h2 class="py-5">Events</h2>
    <p>
        End applications: use after the admission tests are over. Sends an email with the result to the users and <br> 
        creates Selection objects. Can be used only when the portal is in admissions:selection state.
    </p>
    <p>
        End admissions: sends emails ending admissions. Check exactly what else it does.
    </p>

    <hr>
    {% for email in emails %}
    <div class="row">
        <div class="col-md-4 order-md-4 mb-4 text-center">
            <div class="alert alert-{% if email.sent_to == email.applicable_to %}success{% else %}warning{% endif %}" role="alert">
                {{email.label}}
            </div>
        </div>
        <div class="col-md-4 order-md-4 mb-4 text-center">
           <div class="alert alert-info" role="alert">
                {{ email.sent_to }} / {{ email.applicable_to }} emails sent
            </div>
        </div>
        <div class="col-md-4 order-md-4 mb-4 text-center">
            <form method="post">
                {% csrf_token %}
                <input type="hidden" name="key" value={{email.key}}>
                <button type="submit" class="btn btn-info" {% if not user.is_superuser %} disabled {% endif %}>
                     Trigger Event
                </button>
            </form>
        </div>
    </div>
    <hr>
    {% endfor %}

</div>

{% endblock %}
