{% extends "base.html" %}
{% load static %}

{% block title %}{{ object.name }}{% endblock %}

{% block content %}
  <div class="row mb-5 mt-5">
    <div class="col">
      <h1>{{ object.name }}</h1>
    </div>
  </div>

  <table class="table table-hover">
    <thead>
    <tr>
      <th scope="col">Student</th>
      <th scope="col">URL</th>
      <th scope="col">Score</th>
    </tr>
    </thead>
    <tbody>
    {% for obj in student_apis %}
      <tr>
        <th>{{ obj.student.username }}</th>
        <td>{{ obj.url }}</td>
        <td>{{ obj.score }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock content %}

