{% extends "base.html" %}
{% load static %}
{% load grade_tags %}

{% block title %}Capstones{% endblock %}

{% block content %}
<div class="row mb-5 mt-5">
  <div class="col">
    <h1>Capstones</h1>
  </div>
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Name</th>
    </tr>
  </thead>
  <tbody>
   {% for obj in object_list %}
    <tr  id="row-{{ obj.pk }}">
      <th>
        <a href="{% url 'capstone:instructor-capstone-detail' obj.pk %}">
          {{ obj.name }}
        </a>
      </th>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock content %}

