{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2 class="py-5">Select Your Preferred Academy Attendance Type</h2>
    <p>
        Both In-Person and Remote academies will have the same content and schedule.
        The only difference is that the In-Person academy will have the Hackathons In-Person. Hackathons last a full day and are scheduled for Sundays.
        We will try to accommodate to your preference, but we cannot guarantee it as there are limited spots for each type of academy.
    </p>
    <div class="card">
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="academy_type">Please choose your preferred academy type:</label>
                    <select class="form-control" id="academy_type" name="academy_type">
                        <option value="in_person_then_remote">Prefer In-Person but can also do Remote</option>
                        <option value="remote_then_in_person">Prefer Remote but can also do In-Person</option>
                        <option value="remote_only">Remote only</option>
                        <option value="in_person_only">In-Person only</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
