{% extends 'base.html' %}
{% load tz %}

{% block content %}
{% timezone "Europe/Lisbon" %}

<div class="container">
    <h2 class="py-5">Coding Test</h2>

    <div class="jumbotron py-5">
        <h1 style="color:red;">Attention!</h1>

        <h2>You're about to start the coding test.</h2>
        <p>Once you start it, you'll only have <b>{{ ADMISSIONS_CODING_TEST_DURATION }} hours</b> to complete it.<br>
            You can make as many submissions as you want, and you only need 1 passing submission (at least <b>{{ coding_test_subtype.pass_score|floatformat }}</b> out of <b>{{ coding_test_subtype.max_score|floatformat }}</b> points).
        </p>
        <p>We'll only consider your <b>best</b> submission, not your last one.</p>
        <p>Please submit your test in any case, even if you think that you did not pass.</p>
        <p>Do not use vscode for solving the test, it might make the grading fail.</p>
        <p><h4>
            Please complete the setup before starting the coding test, 
            or you'll be wasting your precious test time setting up your environment!!!
        </h4></p>
        <p>
           Make sure you're free for the next {{ ADMISSIONS_CODING_TEST_DURATION }} hours before proceeding!
        </p>
            
        <form method="post" class="pt-4">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Understood & I'm ready!</button>
        </form>
    </div>

</div>

{% endtimezone %}
{% endblock %}
