{% extends 'base.html' %}
{% load tz %}

{% block content %}
{% timezone "Europe/Lisbon" %}

<div class="container">
    <h2 class="py-5">Coding Test</h2>

    <div class="jumbotron py-5">
        <h1 style="color:red;">Attention!</h1>

        <h2>Are you sure you want to start the test now?</h2>

        <h2>Did you complete the setup?</h2>

        <h2>Did you complete the SLUs?</h2>
        
        <h2>You only have <b>{{ ADMISSIONS_CODING_TEST_DURATION }} hours</b> to complete the test once you start. </h2>
        
        <h2>Do not use vscode for solving the test, it might make the grading fail.</h2>

        <h2>Please submit your test in any case, even if you think that you failed it.</h2>

        <h2>The time starts running when you click the button below.</h2>
        
        <form method="post" class="pt-4">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Take me to the test!</button>
        </form>
    </div>

</div>

{% endtimezone %}
{% endblock %}
