{% extends 'base.html' %}
{% load tz %}

{% block content %}
{% timezone "Europe/Lisbon" %}


<div class="container">  

    <h1 class="py-5">Hello {% if first_name %}{{ first_name }}{% else %}future data scientist{% endif %}!</h1>

    {% if state.selection_status == selection_status_values.ACCEPTED %}
        <div class="alert alert-success mb-5" role="alert">
          Admissions are now closed.<br>
          <b>Congratulations!</b> You've been accepted in this year's batch of the LDSSA.
        </div>
    {% elif state.selection_status == selection_status_values.REJECTED or state.selection_status == selection_status_values.NOT_SELECTED %}
        <div class="alert alert-danger mb-5" role="alert">
            Admissions are now closed. <br>
            Sadly you've not been accepted in this batch of the LDSSA. We hope to see you again next year!
        </div>
    {% endif %}

    <h2 class="pb-3">Welcome to the admissions for the Lisbon Data Science Starters Academy!</h2>
    <p> 
        We will soon invite you to the admissions channel on the batch 9 slack where you can contact us in case of trouble. <br>
        You can also contact us on the email admissions@lisbondatascience.org. It can happen that some emails sent by us <br>
        land in your spam folder or take longer to deliver.
    </p>

    <p>
        Before you start, please read all the details about the LDSSA 
        <a href="https://ldssa.github.io/wiki/Starters%20Academy%20(LDSSA)/01-Starters-Academy-(Course)/">here</a>, 
        about this admission process <a href="https://ldssa.github.io/wiki/Applicants/Application-process/">here</a>, 
        and keep these main points in mind:
    </p>

    <ul>
        <li class="pb-3">
            Students need an average of <b>10 hours per week</b> to study the learning materials during the academy. It can get a bit more in the first <br>
            specialization and some parts of the capstone. The bootcamp classes and the hackathons are not included in this time commitment. <br>
            The two bootcamp days are 4 hour events and the hackathons are 9-10 hours long.
        </li>
        <br>
        <li class="pb-3">
            <b>The Starters Academy will have both a remote and in-person option this year.</b> This should only be reflected in the Hackathons, <br>
            where the in-person students will have the opportunity to meet and do the hackathons in-person, and the remote students will do it remotely. <br>
            The choice to do in-person or remote is done when applying for the course. The in-person option will open only if a sufficient number <br>
            of students chooses this option.
        </li>
        <br>
        <li class="pb-3">
            Since our Academy is based in Lisbon, all the activities will happen during the day of <b>Lisbon time</b>. This includes <br>
            the bootcamp classes, the hackathons, and instructors' availability to answer questions on Slack. <b>Remote students are required to be online <br>
            during the bootcamp and the hackathons.</b>  For students who are in very different timezones, this probably means that they'll have to join us <br>
            at unusual hours, and that communicating with instructors will feel very async. Please take this into consideration when applying!
        </li>
        <br>
        <li class="pb-3">
            You can find all the relevant dates for the Starter's Academy on this 
            <a href=https://ldssa.github.io/wiki/Starters%20Academy%20(LDSSA)/01-Starters-Academy-(Course)/>Webpage</a>.
            <b>The bootcamp and the first and last hackathons are mandatory</b>. <br>
            If you cannot complete the first specialization and the first hackathon, you won't be allowed to proceed with the rest of the course and won't be able <br>
            to graduate. If you don't take part in the last hackathon, you won't be able to continue with the capstone project. In order to participate <br>
            in the hackathons, you're required to achieve a minimum score of 80% in all the learning units of that specialization. You have to complete all <br>
            the learning units to graduate, but you can miss one hackathon (except for the first and the last).
        </li>
        <br>
        <li class="pb-3">
            If you complete the Academy, you will receive a certificate. The certificate will list all the Starters Academy's 
            specializations with your grades.
        </li>
        <br>
        <li class="pb-3">
            Everyone is expected to comply with our <a href="https://ldssa.github.io/wiki/About%20us/Code-of-Conduct/">code of conduct</a> 
            in all the interactions with the Lisbon Data Science Academy. This includes <br> 
            the candidates applying to the Starters Academy. Not complying with the code of conduct during the Academy will lead to immediate exclusion <br>
            from the course, without a refund. During this admissions process, <b>we'll ask you to read and acknowledge the code of conduct and you'll only <br>
            be allowed to continue if you agree.</b>
        </li>
        <br>
        <li class="pb-3">
          According to our <a href="https://ldssa.github.io/wiki/Starters%20Academy%20(LDSSA)/07-Refund-Policy/">refund policy</a>, 
          you are eligible for a full refund within 14 days after the bootcamp start date.
      </li>
    </ul>

    <h3 class="py-2" id="next">Your next steps:</h3>
    <div id="accordion" class="mb-5"></div>
    <h4>
        1. Accept the code of conduct and the refund policy
    </h4>
    {% if not state.accepted_coc %}
    <p>
        Read and accept the code of conduct and the refund policy
         <a href="{% url 'admissions:candidate:codeofconduct' %}">here</a>.
    </p>
    {% else %}
        <!-- code of conduct -->
       <div class="card">
          <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
              <button class="btn btn-link" data-toggle="collapse" data-target="#collapseTwo" aria-controls="collapseTwo" {% if not accordion_enabled_status.accepted_coc %} disabled {% endif %}>
                    <i class="fas fa-check-circle"></i> The code of conduct and the refund policy were accepted.
              </button>
            </h5>
          </div>
        </div>
    {% endif %}
       

        <!-- scholarships -->
    <h4>
        2. Choose if you want to apply for a scholarship
    </h4> 
        <p>
            You have to explicitly tell us if you want to apply for a scholarship or not. You won't be able to move forward in your application before this confirmation.
        </p>
        {% if not state.decided_scholarship %}
             <p>
                Read our scholarship terms & conditions carefully and decide whether you want to apply <a href="{% url 'admissions:candidate:scholarship' %}">here</a>.
            </p>
        {% else %}
        <div class="card">
          <div class="card-header" id="headingTwoHalf">
            <h5 class="mb-0">
              <button class="btn btn-link" data-toggle="collapse" data-target="#collapseTwoHalf" aria-controls="collapseTwoHalf" {% if not accordion_enabled_status.decided_scholarship %} disabled {% endif %}>
                    {% if state.applying_for_scholarship %}
                        You are applying for a scholarship!
                    {% else %}
                        <i class="fas fa-check-circle"></i>  You are not applying for a scholarship.
                    {% endif %}
              </button>
            </h5>
          </div>
        </div>
        {% endif %}

        <!-- academy type preference -->
        <h4>
            3. Choose your preference for remote or in-person mode
        </h4>    
        <p>
            This year, the Lisbon Data Science Starters Academy will have a remote and an in-person option. The in-person option opens only if a sufficient number <br>
            of students chooses this option. 
        </p>
        {% if not state.academy_type %}
            <p>Choose your preference <a href="{% url 'admissions:candidate:academy_type' %}">here</a>.</p>
        {% else %}
        <div class="card">
          <div class="card-header" id="headingThree">
            <h5 class="mb-0">
              <button class="btn btn-link" data-toggle="collapse" data-target="#collapseThree" aria-controls="collapseThree" {% if not accordion_enabled_status.decided_academy_type %} disabled {% endif %}>
                    <i class="fas fa-check-circle"></i> academy_type
              </button>
            </h5>
          </div>
        </div>
        {% endif %}

        <!-- admission test -->
        <h4>
            4. The admission tests
        </h4>
        {% if PORTAL_STATUS == "admissions-applications" %}
                    <p>The admission tests will open on the <b>{{ ADMISSIONS_APPLICATIONS_START }}</b>. Come back then to start working on the tests!</p>
                    
                    <p>The coding test and SLUs require setting up your local environment with a virtual environment with Python 3.12 and be able to run Jupyter notebooks. <br>
                        If you don't have such a setup, you can follow the setup instructions in points <b>2</b> and <b>4</b> <a href="https://github.com/LDSSA/batch-students">here</a>.
                        See instructions in sections <b>3.2</b> and <b>3.3</b> of point <b>5</b> on how to run a Jupyter notebook. <br>
                        Ignore the rest of the setup for now.  If you are not familiar with Jupyter notebooks, refer to SLU00 of the <a href="https://github.com/LDSSA/ds-prep-course-2025">prep course</a>.
                    </p>
        {% elif PORTAL_STATUS == "admissions" %}                        
        <div class="card">
            <div class="card-header" id="headingFour">
              <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseFour" aria-controls="collapseFour" {% if not accordion_enabled_status.admission_test %} disabled {% endif %}>
                    {% if state.application_status.name == "passed" %}
                        <i class="fas fa-check-circle"></i> Admission Test
                    {% elif state.application_status.name == "failed" %}
                        <i class="fas fa-times-circle"></i> Admission Test
                    {% endif %}
                  </button>
              </h5>
            </div> 
                {% if state.application_status.name == "passed" %}
                    Congratulations! You've passed the admission test. We'll let you know after the {{ ADMISSIONS_SELECTION_START|date }} if you've been selected for this batch of the LDSSA.

                {% elif state.application_status.name == "ongoing" %}
                    <p>You have until <b>{{ ADMISSIONS_SELECTION_START }}</b> to pass all the assignments. You need to solve three small learning units (SLUs) <br>
                       and one Python coding test.</p>

                    <p>The <b>SLUs</b>
                        <ul>
                            <li>can be started at any time during the admissions period</li>
                            <li>can be submitted for grading as many times as you want</li>
                            <li>have to completed by {{ ADMISSIONS_SELECTION_START }}.</li>
                        </ul>
                    </p>
                    <p><b>The coding test</b>
                        <ul>
                            <li>can be started at any time during the admissions period</li>
                            <li>can be submitted for grading as many times as you want</li>
                            <li>have to be completed within <b>{{ ADMISSIONS_CODING_TEST_DURATION_HOURS }} hours</b> from starting it, latest by {{ ADMISSIONS_SELECTION_START }}.</li>
                        </ul>
                        
                    <p>Start the coding test only when you have {{ ADMISSIONS_CODING_TEST_DURATION_HOURS }} hours of free and uninterrupted time. </p>
                        
                    We <strong>strongly suggest that you complete the SLUs before starting the coding test</strong>.<br>
                    This way, you'll get familiar with the environment and the grading system without time constraints,leaving you better prepared to face the coding test!</p>

                {% elif state.application_status.name == "failed" %}
                    <p>We're sorry, but you didn't pass the admission test...</p>

                    <p>Remember that all the materials used in the Academy will be released in our <a href="https://github.com/LDSSA/batch-students">GitHub</a>, for free, if you want to follow along.</p>

                    <p> If you want to give it another try next year, check our <a href="https://www.lisbondatascience.org/">website</a> and join our newsletters to be the first to receive updates <br>about our courses and the dates for the next batch of the Academy. </p>
                {% endif %}

                    <ul class="list-group list-group-flush pt-3">
                        <li class="list-group-item">
                            {% if state.slu01_status.name == "passed" %}
                                <i class="far fa-check-circle"></i>
                            {% elif state.slu01_status.name == "failed" %}
                                <i class="far fa-times-circle"></i>
                            {% else %}
                                <i class="far fa-circle"></i>
                            {% endif %}
                            <a href="{% url 'admissions:candidate:slu' 'slu01' %}">SLU01</a>
                        </li>
                        <li class="list-group-item">
                            {% if state.coding_test_status.name == "passed" %}
                                <i class="far fa-check-circle"></i>
                            {% elif state.coding_test_status.name == "failed" %}
                                <i class="far fa-times-circle"></i>
                            {% else %}
                                <i class="far fa-circle"></i>
                            {% endif %}
                            <a href="{% url 'admissions:candidate:coding-test' %}">Coding Test</a>
                        </li>
                        <li class="list-group-item">
                            {% if state.slu02_status.name == "passed" %}
                                <i class="far fa-check-circle"></i>
                            {% elif state.slu02_status.name == "failed" %}
                                <i class="far fa-times-circle"></i>
                            {% else %}
                                <i class="far fa-circle"></i>
                            {% endif %}
                            <a href="{% url 'admissions:candidate:slu' 'slu02' %}">SLU02</a>
                        </li>
                        <li class="list-group-item">
                            {% if state.slu03_status.name == "passed" %}
                                <i class="far fa-check-circle"></i>
                            {% elif state.slu03_status.name == "failed" %}
                                <i class="far fa-times-circle"></i>
                            {% else %}
                                <i class="far fa-circle"></i>
                            {% endif %}
                            <a href="{% url 'admissions:candidate:slu' 'slu03' %}">SLU03</a>
                        </li>
                    </ul>

        {% endif %}
              </div>
            </div>
        </div>

        <!-- selection results (only shows if candidate passed admission test and selection has started) -->
        {% if state.application_status.name == "passed" and state.selection_status is not None %}
            <div class="card">
                <div class="card-header" id="headingFive">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseFive" aria-controls="collapseFive" {% if not accordion_enabled_status.selection_results %} disabled {% endif %}>
                        {% if state.selection_status in selection_status_values.SELECTION_POSITIVE_STATUS or state.selection_status == selection_status_values.INTERVIEW %}
                            <i class="fas fa-check-circle"></i>
                        {% elif state.selection_status in selection_status_values.SELECTION_NEGATIVE_STATUS %}
                            <i class="fas fa-times-circle"></i>
                        {% else %}
                            <i class="far fa-circle"></i>
                        {% endif %}
                        Selection Results
                    </button>
                </h5>
                </div>
                <div id="collapseFive" class="collapse {% if action_point == 'selection_results' %} show {% endif %}" aria-labelledby="collapseFive" data-parent="#accordion">
                <div class="card-body">
                    <!-- Passed test, applications are closed, we're doing selections, this candidate wasn't selected yet -->
                    <!-- selection_status in [PASSED_TEST, DRAWN] -->
                    {% if state.selection_status in selection_status_values.SELECTION_AWAITING_STATUS %}
                        <p>We're in the process of selecting this year's students for the Lisbon Data Science Starters Academy.</p>

                        <p>We'll send you an email soon to let you know if you were selected or not. Make sure that you add "admissions@lisbondatascience.org" to your contact list <br>
                        to ensure our emails are not lost in the (SPAM) void. This page will also be updated with the results. Stay tuned! </p>

                    <!-- We're doing selections, this candidate was selected -->
                    <!-- selection_status in [SELECTED, TO_BE_ACCEPTED, ACCEPTED, REJECTED (this is rejected after payment)] -->
                    {% elif state.selection_status in selection_status_values.SELECTION_POSITIVE_STATUS %}
                        You've been selected to participate in this batch of the Lisbon Data Science Starters Academy!

                    <!-- We're finished with selections, this candidate was not selected -->
                    <!-- selection_status in [NOT_SELECTED] -->
                    {% elif state.selection_status in selection_status_values.SELECTION_NEGATIVE_STATUS %}
                        Unfortunately, you have not been selected for this batch of the Lisbon Data Science Starters Academy.

                        <p>Remember that all the contents used in the Academy are available in our <a href="https://github.com/LDSSA/batch-students">GitHub</a>, for free, if you want to follow along.</p>

                        <p>
                          If you want to give it another try next year, check our <a href="https://www.lisbondatascience.org/">website</a> and join our newsletters to be the first to receive updates about our courses and the dates for the next batch of the Academy.
                        </p>

                    {% elif state.selection_status == selection_status_values.INTERVIEW %}
                        Congratulations, you've been selected to participate in this edition of the Starters Academy!
                        <p>You will soon receive an email in order to schedule your scholarship interview. Keep an eye on your inbox!</p>
                          Make sure that you add "admissions@lisbondatascience.org" to your contact list
                          to ensure our emails are not lost in the (SPAM) void.
                        </p>

                    {% else %}
                        ERROR!!!
                    {% endif %}
                </div>
                </div>
            </div>
        {% endif %}

        <!-- payment (only shows if candidate has passed the test and was selected) -->
        {% if state.selection_status in selection_status_values.SELECTION_POSITIVE_STATUS %}
            <div class="card">
                <div class="card-header" id="headingSix">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseSix" aria-controls="collapseSix" {% if not accordion_enabled_status.payment %} disabled {% endif %}>
                        {% if state.selection_status == selection_status_values.ACCEPTED %}
                            <i class="fas fa-check-circle"></i>
                        {% elif state.selection_status == selection_status_values.REJECTED %}
                            <i class="fas fa-times-circle"></i>
                        {% else %}
                            <i class="far fa-circle"></i>
                        {% endif %}
                        Payment
                    </button>
                </h5>
                </div>
                <div id="collapseSix" class="collapse {% if action_point == 'payment' %} show {% endif %}" aria-labelledby="collapseSix" data-parent="#accordion">
                <div class="card-body">
                    {% if state.selection_status == selection_status_values.SELECTED %}
                        We're waiting for your payment in order to finally accept your application.
                        See all the details in the <a href="{% url 'admissions:candidate:payment' %}">payments page</a>.
                    {% elif state.selection_status == selection_status_values.TO_BE_ACCEPTED %}
                        We're analysing your payment proof. We'll get back to you ASAP!
                        You can follow your payment process in the <a href="{% url 'admissions:candidate:payment' %}">payments page</a>.
                    {% elif state.selection_status == selection_status_values.ACCEPTED %}
                        Your payment has been accepted! Welcome to <b>Batch 9</b> of the Lisbon Data Science Starters Academy!
                    {% elif state.selection_status == selection_status_values.REJECTED %}
                        Unfortunately, your payment has not been validated, so we've had to give your spot in the Academy to the next person in line.

                        <p>Remember that all the contents used in the Academy are available in our <a href="https://github.com/LDSSA/batch-students">GitHub</a>, for free.</p>

                        <p>
                          If you want to give it another try next year, check our <a href="https://www.lisbondatascience.org/">website</a> and join our newsletters to be the first to receive updates about our courses and the dates for the next batch of the Academy.
                        </p>
                    {% else %}
                        ERROR!!
                    {% endif %}
                </div>
                </div>
            </div>
        {% endif %}
    </div>

</div>

{% endtimezone %}
{% endblock %}
