{% extends "base.html" %}
{% load static %}
{% load grade_tags %}

{% block title %}{{ unit.code }}{% endblock %}

{% block content %}
  <div class="container my-5">
    <!-- Header Section -->
    <h1 class="display-5">{{ unit.code }}: {{ unit.name }}</h1>
    <div class="row align-items-center mb-4">
      <div class="col-md-auto">
        <span class="font-weight-bold">Last Grade:</span>
        {% show_grade grade %}
      </div>
      <div class="col-md-auto">
        <span class="font-weight-bold">Best Grade:</span>
        {% show_grade best_grade %}
      </div>
      {% if unit.open %}
        <div class="col-md-auto">
          <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-dark">Grade</button>
          </form>
        </div>
      {% endif %}
    </div>

    <!-- Failure Message -->
    {% if grade.status == "failed" %}
      <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">Fail message:</h4>
        <p>{{ grade.message }}</p>
      </div>
    {% endif %}

    <!-- Unit Details -->
    <div class="card mb-4">
      <div class="card-body">
        <div class="row">
          <!-- Sidebar Information -->
          <div class="col-md-4">
            <div class="mb-3">
              <h5>Due Date:</h5>
              <p>{{ unit.due_date|date:"F j, Y" }}</p>
            </div>
            <div class="mb-3">
              <h5>Instructor:</h5>
              <p>{{ unit.instructor.name }}</p>
            </div>
          </div>

          <!-- Description -->
          <div class="col-md-8">
            <h5>Description:</h5>
            <p class="text-justify">{{ unit.description }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
