{% extends "base.html" %}
{% load static %}
{% load grade_tags %}

{% block title %}Learning Units{% endblock %}

{% block content %}
<div class="container">
  <div class="row mb-5 mt-5">
    <div class="col">
      <h1>Learning Units</h1>
    </div>
  </div>

  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th scope="col">Code</th>
        <th scope="col">Name</th>
        <th scope="col">Due Date</th>
        <th scope="col">Instructor</th>
        <th scope="col">Grade</th>
        <th scope="col">Open</th>
      </tr>
    </thead>
    <tbody>
     {% for unit, grade in object_list %}
      <tr  id="row-{{ unit.code }}">
        <td>
          <a href="{% url detail_view_name unit.pk %}">
            {{ unit.specialization.code }}/{{ unit.pk }}
          </a>
        </td>
        <td>{{ unit.name }}</td>
        <td>{{ unit.due_date|date:"F j, Y"  }}</td>
        <td>{{ unit.instructor.name|default:unit.instructor.username }}</td>
        <td>
          {% show_grade grade %}
        </td>
        <td>
          {% if unit.open %}
            <span class="badge badge-success">Open</span>
          {% else %}
            <span class="badge badge-danger">Closed</span>
          {% endif %}
        </td>        
      </tr>
      {% endfor %}
    </tbody>
  </table>


</div>
{% endblock content %}

