{% extends "base.html" %}
{% load static %}
{% load grade_tags %}

{% block title %}Learning Units{% endblock %}

{% block content %}
<div class="container">
  <div class="row mb-5 mt-5">
    <div class="col">
      <h1>Learning Units</h1>
    </div>
  </div>

  {% if course_progression_block_reason %}
  <p class="alert alert-warning">{{ course_progression_block_reason }}</p>
  {% elif user.is_student and not user.can_graduate %}
  <p class="alert alert-warning">You are currently ineligible for certification. You can continue studying and submitting work. Contact an instructor if you believe a submission or attendance record is incorrect.</p>
  {% endif %}
  <p>Deadlines are at the end of the indicated day in Lisbon time. Optional units are not required for certification.</p>
  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th scope="col">Code</th>
        <th scope="col">Name</th>
        <th scope="col">Due Date</th>
        <th scope="col">Instructor</th>
        <th scope="col">Grade</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
     {% for unit, grade in object_list %}
      <tr  id="row-{{ unit.code }}">
        <td>
          <a href="{% url detail_view_name unit.pk %}">
            {{ unit.specialization.code }}/{{ unit.pk }}
          </a>
        </td>
        <td>{{ unit.name }}{% if not unit.required_for_certificate %} (optional){% endif %}</td>
        <td>{{ unit.due_date|date:"F j, Y"  }}</td>
        <td>{{ unit.instructor.name|default:unit.instructor.username }}</td>
        <td>
          {% show_grade grade %}
        </td>
        <td>
          {% if unit.submissions_open %}
            <span class="badge badge-success">Open</span>
          {% else %}
            <span class="badge badge-danger">Closed</span>
          {% endif %}
        </td>        
      </tr>
      {% endfor %}
    </tbody>
  </table>


</div>
{% endblock content %}

