{% extends "base.html" %}
{% load static %}

{% block title %}Capstone{% endblock %}

{% block content %}
<div class="row mb-5 mt-5">
  <div class="col">
    <h1>Capstones</h1>
  </div>
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">URL</th>
      <th scope="col">Score</th>
    </tr>
  </thead>
  <tbody>
   {% for obj in object_list %}
    <tr  id="row-{{ obj.code }}">
      <th>
        <a href="{% url 'hackathons:student-hackathon-detail' obj.pk %}">
          {{ obj.pk }}
        </a>
      </th>
      <td>{{ obj.name }}</td>
      <td>{{ obj.get_status_display }}</td>
      <td>{{ obj.due_date }}</td>
      <td>
        <a href="{% url 'hackathons:leaderboard' obj.pk%}">
          Leaderboard
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock content %}

