{% extends "base.html" %}
{% load static %}

{% block title %}Capstone{% endblock %}

{% block content %}
<div class="row mb-5 mt-5">
  <div class="col">
    <h1>Capstones</h1>
  </div>
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">URL</th>
      <th scope="col">Score</th>
    </tr>
  </thead>
  <tbody>
   {% for capstone, obj in object_list %}
    <tr  id="row-{{ obj.name }}">
      <th>
        <a href="{% url 'capstone:student-capstone-detail' obj.pk %}">
          {{ capstone.name }}
        </a>
      </th>
      <td>{{ obj.url }}</td>
      <td>{{ obj.score }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock content %}

