{% load static i18n compress %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}LDSA Portal{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}">

    {% block css %}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-..." crossorigin="anonymous">
    <!-- FontAwesome CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="..." crossorigin="anonymous">
    <!-- Custom CSS -->
    {% compress css %}
    <link href="{% static 'css/project.css' %}" rel="stylesheet">
    {% endcompress %}
    {% endblock css %}
</head>

<body>

    <div class="mb-1">
      <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand" href="{% url 'home' %}">
            <img src="{% static 'images/ldssa_white.png' %}" alt="LDSA Portal" height="30">
        </a>
    

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
          {% if request.user.is_authenticated %}
            {% if PORTAL_STATUS != "academy" %}
              {% if request.user.is_staff %}
                {# ADMISSIONS STAFF #}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'admissions:staff:events' %}">Events</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'admissions:staff:candidate-list' %}">Candidates</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'admissions:staff:application-list' %}">Applications</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'admissions:staff:submission-list' %}">Submissions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'admissions:staff:selection-list' %}">Selections</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'admissions:staff:interview-list' %}">Interviews</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'admissions:staff:payment-list' %}">Payments</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'admissions:staff:export' %}">Exports</a>
                </li>
                {% comment %} 
                <li class="nav-item">
                    <a class="nav-link" href="/admin">Django-Admin</a>
                </li> 
                {% endcomment %}
                {# END ADMISSIONS STAFF #}
              {% else %}
                {# ADMISSIONS CANDIDATES #}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'admissions:candidate:codeofconduct' %}">Code of Conduct</a>
                </li>
                {% if code_of_conduct_accepted %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'admissions:candidate:scholarship' %}">Scholarships</a>
                </li>
                {% if PORTAL_STATUS in ADMISSIONS_APPLICATIONS_STARTED_STATUSES and scholarship_decided %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Submissions
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="{% url 'admissions:candidate:slu' 'slu01' %}">SLU01</a>
                      <a class="dropdown-item" href="{% url 'admissions:candidate:coding-test' %}">Coding Test</a>
                      <a class="dropdown-item" href="{% url 'admissions:candidate:slu' 'slu02' %}">SLU02</a>
                      <a class="dropdown-item" href="{% url 'admissions:candidate:slu' 'slu03' %}">SLU03</a>
                    </div>
                  </li>
                {% if user_has_payment %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'admissions:candidate:payment' %}">Payment</a>
                    </li>
                {% endif %}
                {% endif %}
                {% endif %}
                {# END ADMISSIONS CANDIDATES #}
              {% endif %}
            {% else %}
              {% if request.user.is_student %}
              {# STUDENT #}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'academy:student-unit-list' %}">Learning Units</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'hackathons:student-hackathon-list' %}">Hackathons</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'capstone:student-capstone-list' %}">Capstones</a>
                </li>
              {# END STUDENT #}
              {% endif %}
              {% if request.user.is_instructor %}
              {# INSTRUCTOR #}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'academy:instructor-user-list' %}">Students</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'academy:instructor-unit-list' %}">Learning Units</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'hackathons:instructor-hackathon-list' %}">Hackathons</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'capstone:instructor-capstone-list' %}">Capstones</a>
                </li>
              {# END INSTRUCTOR #}
              {% endif %}
            {% endif %}
            </ul>
            <ul class="navbar-nav">
              {% if PORTAL_STATUS != "academy" %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'admissions:candidate:contact' %}">{% trans "Contact Us" %}</a>
              </li>
              {% endif %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'users:profile' %}">{% trans "Profile" %}</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'account_logout' %}">{% trans "Sign Out" %}</a>
              </li>
            </ul>
            {% endif %}
          </ul>
        </div>
      </nav>

    </div>

    <div class="container mt-4">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        {% endif %}
  

        {% block content %}
        <!-- Default content -->
        {% endblock content %}
    </div>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {% block modal %}{% endblock modal %}

    {% block javascript %}
    <!-- jQuery, Popper.js, and Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="..." crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="..." crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="..." crossorigin="anonymous"></script>
    <!-- Custom JS -->
    {% compress js %}
    <script src="{% static 'js/project.js' %}"></script>
    {% endcompress %}
    {% endblock javascript %}
    {% block extra_js %}
    <!-- Extra JS -->
    {% endblock extra_js %}
  </body>
</html>

