{% load static i18n compress %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}LDSA Portal{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}">

    {% block css %}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-..." crossorigin="anonymous">
    <!-- FontAwesome CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="..." crossorigin="anonymous">
    <!-- Custom CSS -->
    {% compress css %}
    <link href="{% static 'css/project.css' %}" rel="stylesheet">
    {% endcompress %}
    {% endblock css %}
</head>

<body>

    <div class="mb-1">
      <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand" href="{% url 'home' %}">
            <img src="{% static 'images/ldssa_white.png' %}" alt="LDSA Portal" height="30">
        </a>
    

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          {% if request.user.is_authenticated %}
          <ul class="navbar-nav mr-auto">
            {% if request.user.is_staff or request.user.is_superuser %}
            <li class="nav-item"><a class="nav-link" href="{% url 'admissions:staff:home' %}">Admissions settings</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'admissions:staff:events' %}">Exam events</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'admissions:staff:candidate-list' %}">Candidates</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'admissions:staff:application-list' %}">Exam applications</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'admissions:staff:submission-list' %}">Exam submissions</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'admissions:staff:selection-list' %}">Exam selections</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'admissions:staff:interview-list' %}">Scholarships</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'admissions:staff:payment-list' %}">Payments</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'admissions:staff:export' %}">Exports</a></li>
            {% elif not request.user.is_instructor %}
            <li class="nav-item"><a class="nav-link" href="{% url 'admissions:candidate:home' %}">Admissions</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'admissions:candidate:codeofconduct' %}">Code of conduct</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'admissions:candidate:scholarship' %}">Scholarships</a></li>
            {% if admissions_requires_exam and code_of_conduct_accepted and scholarship_decided and PORTAL_STATUS in ADMISSIONS_APPLICATIONS_STARTED_STATUSES %}
            <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" id="examMenu" data-toggle="dropdown">Admission tests</a><div class="dropdown-menu" aria-labelledby="examMenu">
              <a class="dropdown-item" href="{% url 'admissions:candidate:slu' 'slu01' %}">SLU01</a>
              <a class="dropdown-item" href="{% url 'admissions:candidate:slu' 'slu02' %}">SLU02</a>
              <a class="dropdown-item" href="{% url 'admissions:candidate:slu' 'slu03' %}">SLU03</a>
              <a class="dropdown-item" href="{% url 'admissions:candidate:coding-test' %}">Coding test</a>
            </div></li>{% endif %}
            {% if user_has_payment %}<li class="nav-item"><a class="nav-link" href="{% url 'admissions:candidate:payment' %}">Payment</a></li>{% endif %}
            <li class="nav-item"><a class="nav-link" href="{% url 'admissions:candidate:contact' %}">Contact us</a></li>
            {% endif %}
            {% if request.user.is_student and academy_access_open %}
            <li class="nav-item"><a class="nav-link" href="{% url 'academy:student-unit-list' %}">Learning units</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'hackathons:student-hackathon-list' %}">Hackathons</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'capstone:student-capstone-list' %}">Capstones</a></li>
            {% endif %}
            {% if request.user.is_instructor or request.user.is_staff or request.user.is_superuser %}
            <li class="nav-item"><a class="nav-link" href="{% url 'academy:instructor-user-list' %}">Students</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'academy:instructor-unit-list' %}">Learning units</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'hackathons:instructor-hackathon-list' %}">Hackathons</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'capstone:instructor-capstone-list' %}">Capstones</a></li>
            {% endif %}
          </ul>
          <ul class="navbar-nav"><li class="nav-item"><a class="nav-link" href="{% url 'users:profile' %}">Profile</a></li><li class="nav-item"><a class="nav-link" href="{% url 'account_logout' %}">Sign out</a></li></ul>
          {% endif %}
        </div>
      </nav>

    </div>

    <div class="container mt-4">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        {% endif %}
  

        {% block content %}
        <!-- Default content -->
        {% endblock content %}
    </div>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {% block modal %}{% endblock modal %}

    {% block javascript %}
    <!-- jQuery, Popper.js, and Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="..." crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="..." crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="..." crossorigin="anonymous"></script>
    <!-- Custom JS -->
    {% compress js %}
    <script src="{% static 'js/project.js' %}"></script>
    {% endcompress %}
    {% endblock javascript %}
    {% block extra_js %}
    <!-- Extra JS -->
    {% endblock extra_js %}
  </body>
</html>

