{% extends "base.html" %}
{% load static %}

{% block title %}{{ object.name }}{% endblock %}

{% block content %}
  <div class="row mb-5 mt-5">
    <div class="col">
      <h1>{{ object.name }}</h1>
    </div>
  </div>

  <table class="table table-hover">
    <thead>
    <tr>
      <th scope="col">Student</th>
      <th scope="col">Slack</th>
      <th scope="col">URL</th>
      <th scope="col">Score</th>
      <th scope="col">Proposal</th>
      <th scope="col">Report Provisory</th>
      <th scope="col">Report Final</th>
    </tr>
    </thead>
    <tbody>
    {% for student in students %}
      <tr>
        <th>{{ student.user.username }}</th>
        <td><a href="{{ workspace_url }}{{ student.user.slack_member_id }}" target="_blank" class="text-dark">{{ student.user.slack_member_id }}</a></td>
        <td>{{ student.api.url }}</td>
        <td>{{ student.api.score }}</td>
        <td>{% if student.proposal.file %}<a href="{{ student.proposal.file.url }}">DL</a>{% endif %}</td>
        <td>{% if student.report_provisory.file %}<a href="{{ student.report_provisory.file.url }}">DL</a>{% endif %}</td>
        <td>{% if student.report_final.file %}<a href="{{ student.report_final.file.url }}">DL</a>{% endif %}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock content %}

