{% load static %}
{% load query_param_tags %}

{% if grade.status == "graded" %}
  <a href="{% get_media_prefix %}{{ grade.notebook }}">
    {% if grade.score >= 16 %}
      <span class="badge badge-success">{{ grade.score }}</span>
    {% else %}
      <span class="badge badge-danger">{{ grade.score }}</span>
    {% endif %}
  </a>
{% else %}
{% if not user.student %}<a href="{% add_query_param 'grade_status' grade.status %}">{% endif %}
  <span class="badge
      {% if grade.status == "never-submitted" %}badge-warning
      {% elif grade.status == "failed" %}badge-danger
      {% elif grade.status == "out-of-date" %}badge-danger
      {% elif grade.status == "graded" %}badge-success
      {% else %}badge-info
      {% endif %}">
    {{ grade.get_status_display }}
  </span>
  {% if not user.student %}</a>{% endif %}
{% endif %}
