{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}{{ user.username }}{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1 class="mb-4 text-center">Update User Data</h1>

    <div class="row justify-content-center form-container">
        <div class="col-md-6">
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="form-group text-center">
                  <button type="submit" class="btn btn-primary">Update</button>
              </div>
            </form>
        </div>
    </div>

    <h2 class="mt-5">Deploy Key</h2>
    <div class="card mb-3">
        <div class="card-body deploy-key">
            <p class="card-text">{{ user.deploy_public_key }}</p>
        </div>
    </div>

    <p>
        <a href="{% url 'account_set_password' %}" class="btn btn-secondary">
            <i class="fas fa-key"></i> Change Password
        </a>
    </p>
</div>
{% endblock content %}
